<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>

    <%- include('../partials/header') %> 

<main>
    <section class ="registerForm">
        <h1>INICIAR SESIÓN</h1>
        <form action="/users/login" method="POST" class="control-formulario">
      
                    <label for="email">Email</label>
                    <input type="texto" id="email" name="email"  placeholder="ejemplo@correo" value="<%= locals.oldData ? oldData.email : null%>">
                    <% if (locals.errors && errors.email) { %>
                        <p class="errorMsg"> <%= errors.email.msg  %>  </p>
                       <% } %>
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="password" name="password"  placeholder="clave">
                    <% if (locals.errors && errors.password) { %>
                        <p class="errorMsg"> <%= errors.password.msg  %>  </p>
                        
                       <% } %>
           </div>
                <br>
                <label class="form-check-label">
                    <input type="checkbox" name="remember_user">Recordar mi usuario
                </label>
                <br>
            </div>           
                    <a>"¿olvidaste tu contraseña?"</a>
                <br>
             
                    <button type="submit" class="boton-formulario">INICIAR SESIÓN</button>
            
                    <button type="submit" class="boton-formulario">CREAR CUENTA</button>
    </form>
    </section>
</main>
    
    <%- include('../partials/footer') %>   

</body>
</html>