<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>

    <%- include('../partials/header') %> 

<main>
    <form action="/users/login" method="POST" class="control-formulario">
        <div>
                <br>
           <div>
                    <label for="email">email</label>
                    <input type="texto" id="email" name="email"  placeholder="ejemplo@correo" value="<%= locals.oldData ? oldData.email : null%>">
                    <% if (locals.errors && errors.email) { %>
                        <p class="errorMsg"> <%= errors.email.msg  %>  </p>
                        
                       <% } %>
           </div>
                <br>
           <div>
                    <label for="contrase単a">contrase単a</label>
                    <input type="password" id="password" name="password"  placeholder="clave">
                    <% if (locals.errors && errors.password) { %>
                        <p class="errorMsg"> <%= errors.password.msg  %>  </p>
                        
                       <% } %>
           </div>
                <br>
                     <!--<div><button>"CapTChA"</button></div>-->
            </div>           
                    <a>"多olvidaste tu contrase単a?"</a>
                <br>
             
            <div>
                    <button type="submit" class="boton-formulario">INICIAR SESION</button>
                 
            </div>
                <br>
            <div>
                    <button type="submit" class="boton-formulario">CREAR CUENTA</button>
            </div> 
                <br>
        </div>
    </form>
</main>
    
    <%- include('../partials/footer') %>   

</body>
</html>