<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>

    <%- include('../partials/header') %> 

<main class="profile">
            <h1>¡Te damos la bienvenida <%=user.firstName%>  <%=user.lastName%> !</h1>
                

            <section class="data">

                
                <article class="userData">
                    <br>
                    <figure class="userImage" >
                        <img src="/imagenes/users/<%=// user.userimages.url %>"  alt="Imagen de usuario">
                        </figure>
                        <br>

                    <div class="datas">
                        <h2>Datos de la cuenta</h2>
                        <p>Nombre: <%= user.firstName %> </p>
                        <p>Apellido: <%= user.lastName %></p>
                        <p>Email: <%= user.email %> </p>
                        

                    </div>

                </article >

                <a href="/users/edit/<%= user.id %> ">
                    <button class="boton-formulario">Editar Perfil</button>
                    </a>

            </section>
                
                


			

    </main>
    
    <%- include('../partials/footer') %>   

</body>
</html>