<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>

    <%- include('../partials/header') %> 

<main class="profile">
            <h1>¡Te damos la bienvenida <%=user.firstName%>  <%=user.lastName%> !</h1>
                

            <section class="data">

                
                <article class="userData">
                    <br>
                    <figure class="userImage" >
                        <img src="/imagenes/users/<%= user.userimages.url %>"  alt="Imagen de usuario">
                        </figure>
                        <br>

                    <div class="datas">
                        <h2>Datos de la cuenta</h2>
                        <p>Nombre: <%= user.firstName %> </p>
                        <p>Apellido: <%= user.lastName %></p>
                        <p>Email: <%= user.email %> </p>

                    </div>

                </article >
                
                <button>
                    MODIFICAR DATOS
                </button>
                              
               <!-- 
                   <article class="personalData">
                    <h2>Datos personales</h2>
                   <p>Email: <%= user.email %> </p>
                <p>Apellido:</p>
                <p>Nombre:</p>
                <p>Tipo de Documento:</p>
                <p>Documento:</p>
                <p>Dirección:</p>
                <p>Localidad:</p>
                <p>Provincia:</p>
                <p>Código Postal:</p>
                <p>País:</p>
                <p>Teléfono:</p>
                <p>Teléfono alternativo:</p>
                </article>
                <button type="submit" class="profilebutton">Modificar datos</button>

               --> 
            </section>
                
                


			

    </main>
    
    <%- include('../partials/footer') %>   

</body>
</html>