<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>

    <%- include('../partials/header') %> 

<main class="profile">
            <h1>¡Te damos la bienvenida <%= user.first_name %>  <%= user.last_name%> !</h1>
                <br>
				<figure class="imageUser" >
                <img src="/imagenes/users/<%= user.image %>"  alt="Imagen de usuario">
                </figure>
				<br>
                <section>
                    <p>Nombre: <%= user.first_name %> </p>
                    <p>Apellido: <%= user.last_name %></p>
                    <p>Email: <%= user.email %> </p>
                </section>
			

    </main>
    
    <%- include('../partials/footer') %>   

</body>
</html>