<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>

<body >
    
    <%- include('../partials/header') %> 
    <br>
    <br>
              
    <main class="body-loadProduct">
        <h1>CARGAR UN NUEVO PRODUCTO</h1>  

            <form action="create" method= 'POST' enctype="multipart/form-data" class= "form-create" id="formValidations">
                <div class="forms">
                <div class="left">
                    <br>
                       <label>Nombre del producto</label> 
                      <input type="text" name="product_name"
                      value="<%= locals.oldData ? oldData.product_name : null %> " class="product_name">
                      <% if (locals.errors && errors.product_name) { %>
                        <p class="errorMsg">
                          <%= errors.product_name.msg %>
                        </p>
                        <% } %>  
                 
                    <p class="form__input-error_product_name">Campo obligatorio debe contener al menos 5 caracteres</p>
                        <label>Precio</label>
                        <input type="number" name="price"
                        value="<%= locals.oldData ? oldData.price : null %> " class="price">
                        <% if (locals.errors && errors.price) { %>
                          <p class="errorMsg">
                            <%= errors.price.msg %>
                          </p>
                          <% } %>
                    
                        <label>Categoría</label>
                        <select name="category">
                          <option value="1">Platos</option>
                          <option value="2">Cuencos</option>
                          <option value="3">Tazas</option>
                          <option value="4">Mates</option>
                          <option value="5">Deco</option>
                          </select>                                       
                </div>               
                <div class="right">
                <div class="form-loadProd"></p>
                   <label>Descripción del Producto</label> 
                   <br>

                    <textarea name="description" id="" cols="40" rows="6"
                    value="<%= locals.oldData ? oldData.description : null %> " class="description">
                    <% if (locals.errors && errors.description) { %>
                      <p class="errorMsg">
                        <%= errors.description.msg %>
                      </p>
                      <% } %> </textarea>
                    </div>
                    <p class="form__input-error_description">Campo obligatorio debe contener al menos 20 caracteres</p>
                    </div>
                </div>
              
                    <label>Imagen del producto</label>
                    <br>
                    <input type="file" name="productImage" accept=".jpg, .png" class="control-input" class="productImage">
                    <% if (locals.errors && errors.productImage) { %>
                      <p class="errorMsg">
                        <%= errors.productImage.msg %>
                      </p>
                      <% } %>          
                </div> 
            </div>
            <br>       
                <button type="submit" class="loadProd">GUARDAR</button>
                <button type="reset" class="loadProd">BORRAR</button>
                <br>
            </form>
          </div>
    </main>

    <%- include('../partials/footer') %> 

    <script src="/js/script.js"></script>

</body>
</html>