<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header') %> 

    <main class="body-loadProduct">
        <h1>EDITAR PRODUCTO</h1> 
        <form action="/products/<%= idProduct.id %>?_method=PUT" method= 'POST' class= "form-create" id="formValidations">
            <input type="hidden" name="id" value=<%= idProduct.id %>> 
                <div class="forms">
                <div class="left">
                    <p>
                    <br>
                       <label>Nombre del producto</label> 
                       <br>
                      <input type="text" name="product_name" value="<%= idProduct.name%>">
                        </div>
                        <p class="form__input-error">Campo obligatorio debe contener al menos 5 caracteres</p>
                        </div>
                    </p>

                    <p>
                        <label>Precio</label>
                        <br>
                        <input type="number" name="price" value="<%= idProduct.price%>">
                    </p>
                    <p>
                        <label>Color</label>
                        <br>
                        <input type="text" name="colours" value="<%= idProduct.colours%>">
                    </p>
                    <p>
                        <label>Categoría</label>
                        <br>
                        <input type="text" name="category" value="<%= idProduct.category%>">
                        
                    </p>   
                </div>
                
                <div class="right">
                <div class="form-loadProd"></p>
                   <label>Descripción del Producto</label> 
                   <br>
                   <input name="description" id="" cols="40" rows="6" <%= idProduct.description %>>
                    </div>
                    <p class="form__input-error">Campo obligatorio debe contener al menos 5 caracteres</p>
                    </div>
                </div>
                <p>
                    <label>Imagen del producto</label>
                    <br>
                    <input type="file" name="productImage" accept=".jpg, .png" class="control-input">
                 </p>
                </div> 
            </div>
            <br>
        
                <button type="submit" class="loadProd">GUARDAR</button>
        
                    <button type="reset" class="loadProd">BORRAR</button>
            

                <br>
            </form>  
    </main>

    <%- include('../partials/footer') %> 


</body>
</html>