=<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header') %> 

    <main class="body-editProduct">
            <h1>FORMULARIO: EDICIÓN DE PRODUCTOS</h1>

            
            <div class="contenedor-editarProd">
                <form action="/products/:id?_method=PUT" method= 'POST'>
                    <div class="form-editProd">
                        <label>Nombre del producto</label>
                   <input type="text" name="product" value=<%= idProduct.name %> >
                </div>

                   <label>Descripción del Producto</label>
                   <div class="form-loadProd">
                   <textarea name="description" id="" cols="40" rows="6" ><%= idProduct.description %></textarea>
                   </div>

                 <div class="form-loadProad">
                   <label>Categoría</label>
                   <input type="text" name="category" value=<%= idProduct.category %>>
                </div>
                
                <div class="form-loadProad">
                    <label>Color</label>
                    <input type="text" name="colour" value=<%= idProduct.colours %>>
                 </div>

                <div class="form-loadProad">
                   <label>Precio</label>
                   <input type="number" name="precio" value=<%= idProduct.price %>>
                </div>

                <div class="form-loadProd">
                    <label>Imagen del producto</label>
                    <input type="file" name="productImage" accept=".jpg, .png" class="control-input">
                 </div>

                    <button type="submit" class="editProd">EDITAR</button>
                    <button type="reset" class="editProd">BORRAR</button>
                </form>
            </div>
    </main>
     

    <%- include('../partials/footer') %> 


</body>
</html>