<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>
    <%- include('../partials/header') %> 
    <br>
    <h1>CATÁLOGO DE PRODUCTOS</h1>
    <main class="productList">
  <% products.forEach(product => { %>
      <div class="card">
        <div class="imagenCardContainer">
          <img class="imagenCard" src= "/imagenes/products/<%= product[i].productImagesId %>"  alt="Producto"> 
        </div>
         <!--<%= products[i].image %> --> 

          <h3> <%= product[i].name %> </h4>
          <br>
          <h4> $<%= product[i].price %> </h5>
          <br>

          <a href="/products/<%=product[i].id%>">Ver más</a>
          <br>
          <br>
          <button type="submit" class="cardButton">Agregar al carrito</button>
          <form action="/products/<%=product.id%>?_method=DELETE" method="POST">
            <button type="submit" class="cardButton">BORRAR</button>
        </form>
        <br> 
      </div>
      

          <% }) %>
 </main>

<%- include('../partials/footer') %> 
    
</body>
</html>