<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head')%>

  <body>

    <%- include('../partials/header') %>

      <main class="product-detail">
        <section class="contenedor-detalle">
          <section class="contenedor-imagenes">
            <figure class="contenedor-izquierdo">
              <img src="/imagenes/taza2_2.jpg" alt="Jarra Gres">
              <img src="/imagenes/taza2_3.jpg" alt="Jarra Gres">
            </figure>
            <img class="contenedor-medio" src="/imagenes/taza2_1.jpg" alt="Jarra Gres">
          </section>
          <section class="contenedor-derecho">
            <div class="nombre">
              <%= idProduct.name %>
            </div>
            <h1 class="precio"> $<%= idProduct.price %>
            </h1>
            <figure class="forma-de-pago">
              <img class="credit-card" src="/iconos/credit-card.svg" alt="formas de pago">
              <figcaption>Opciones de pago</figcaption>
            </figure>
            <form= action="cantidad" method="get">
              <p>
                <label>Seleccione cantidad </label>
                <input type="number" name="cantidad" min="0" max = "100">
               </p>
              <br>
              
              <button type="submit" class="boton-formulario">AGREGAR AL CARRITO</button>
              </form>
          </section>
          <section class="descripcion-producto">
            <div>
           
              <%= idProduct.description %>

            </div>
          </section>
          <!-- <article class="comentarios"></article>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Facilis, saepe? Eos quae distinctio, iusto atque non ut nam placeat ea natus minus
          </p>
          </article> -->
      </section>
      </main>

      <%- include('../partials/footer') %>

  </body>

</html>