<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>
    <%- include('../partials/header') %> 
    <br>
    <h1>CATÁLOGO DE PRODUCTOS</h1>
    <main class="productList">
  <% products.forEach(product => { %>
      <div class="card">
        <div class="imagenCardContainer">
                    
         <img class="imagenCard" src= "/imagenes/products/<%=product.productimages.url %>"  alt="Producto">
        </div>
         <!--<%=// products.image %> --> 

          <h3> <%= product.name %> </h4>
          <br>
          <h4> $<%= product.price %> </h5>
          <br>

          <a href="/products/<%=product.id%>"><button class="cardButton">VER DETALLE</button></a>
          <br>
          <br>
          <button class="cardButton">VER DETALLE</button>
          <a href="/users/edit/<%= user.id %> ">
            <button>Editar Perfil</button>
            </a>
          
        <br> 
      </div>
      

          <% }) %>
 </main>

<%- include('../partials/footer') %> 
    
</body>
</html>