<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>
    <%- include('../partials/header') %> 
    <br>
    <h1>CATÁLOGO DE PRODUCTOS</h1>
    <main class="productList">
    <% products.forEach(element => { %>
      <div class="card-list">
        <div class="imagenCardContainer">
          <img class="imagenCard" src= "/imagenes/products/<%= element.image %>"  alt="Producto"> 
         <!--<%= element.image %> --> 
         </div>
          <p class="cardName"> <%= element.name %> </p>
         <p class="cardPrice"> $<%= element.price %> <p>

      <!--
          <p><%= element.category %> </p>

          <p><%= element.colours %> </p>
   
       --> 

          <details>
          <summary> Detalles:        
          </summary>
          <p> <%= element.description %> </p>
          </details>
         
          <button type="submit" class="loadProd">Agregar al carrito</button>
          <form action="/products/<%=element.id%>?_method=DELETE" method="POST">
            <button type="submit" class="loadProd">BORRAR</button>
        </form>
      </div>

          <% }) %>
 </main>

<%- include('../partials/footer') %> 
    
</body>
</html>