<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>
    <%- include('../partials/header') %> 
    <br>
    <h1>CATÁLOGO DE PRODUCTOS</h1>
    <main class="productList">
    <% products.forEach(element => { %>
      <div class="card-list">
        <div class="imagenCardContainer">
          <img class="imagenCard" src= "/imagenes/products/<%= element.image %>"  alt="Producto"> 
         <!--<%= element.image %> --> 

          <h3> <%= element.name %> </h4>
          <br>
          <h4> $<%= element.price %> </h5>
          <br>

          <a href="/products/<%=element.id%>">detalle</a>
          <br>
          <br>
          <button type="submit" class="loadProd">Agregar al carrito</button>
          <form action="/products/<%=element.id%>?_method=DELETE" method="POST">
            <button type="submit" class="loadProd">BORRAR</button>
        </form>
        <br> 
      </div>

          <% }) %>
 </main>

<%- include('../partials/footer') %> 
    
</body>
</html>